.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1px 1px;
}
.card-img {
  width: 100%;
}
.card {
  width: 100px;
}
.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select-bar {
  position: absolute;
  width: 100px;
  right: 25px;
}
.search-bar {
  margin-right: auto;
  width: 100px;
}
.search-select {
  margin-bottom: 10px;
}
select {
  height: 25px;
}
input{
  margin-right: 10px;
  height: 17px;
}
button{
  height: 22px;
}